<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<body>
  

    <main>

        <section class="hero-banner">

            <div class="hero-banner-content"><h2>Be Ready<br>for Beast Mode</h2></div>

        </section>




    </main>




<%- include('../includes/footer.ejs') %>