<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/css/main.min.css" />


<body>
  

    <main>
        
        <header>
        <section class="hero-banner">
            <%- include('../includes/nav.ejs') %>
                <div class="hero-banner-container">

                    <div class="hero-banner-form">
                        <div class="container">
                        <form class="banner-form">

                            <div class="input-container">
                                <i class="fa fa-search icon"></i>
                                <input type="text" class="form-input input-field" id="search" placeholder="What are you looking for?">    
                              </div>
                            
                              <div class="input-container">
                                <i class="fa fa-user-o icon"></i>
                                <input type="text" class="form-input input-field" id="name" placeholder="Name">  
                                
                              </div>
                              
                              <div class="input-container">
                                <i class="fa fa-envelope-o icon"></i>
                                <input type="email" class="form-input input-field" id="email" placeholder="Email">
                              </div>

                              <div class="input-container">
                                <i class="fa fa-calendar-check-o icon"></i>
                                <input type="date" class="form-input input-field" id="startdate" >
                              </div>

                            
                               
                            
                            
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                    </div>

                    <div class="hero-banner-content">
                        <h2>unlesh the <br>
                        <span class="highlight">beast</span> within
                        </h2>
                        <br>
                        <hr>
                        <p class="highlightText">Start now and get a <span class="hightlight2"> free session </span> on your account.</p>
                    </div>
                </div>    
        </section>
    </header>



    </main>




<%- include('../includes/footer.ejs') %>