<%- include('../includes/head.ejs') %>


<body>
  

    <main>

        <section class="hero-banner">
            <%- include('../includes/nav.ejs') %>

            <div class="hero-banner-content">
                <h2>unlesh the <br>
                <span class="highlight">beast</span> within
                </h2>
                <br>
                <hr>
                <p class="highlightText">Start now and get a <span class="hightlight2"> free session </span> on your account.</p>
            </div>
                

        </section>




    </main>




<%- include('../includes/footer.ejs') %>