<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./js/bootstrap.min.js">
<link rel="stylesheet" type="text/css" href="/css/main.min.css" />


<body>
  

    <main>
        
        <header>
        <section class="hero-banner2">
            <%- include('../includes/nav2.ejs') %>
                  
        </section>
    </header>

    <section id="features">
        <div>
            <h2 class="headerh2">Features</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="" alt="">
                <h3 >Search</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>

            <div class="col-md-4">
                <img src="" alt="">
                <h3>Match</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>

            <div class="col-md-4">
                <img src="" alt="">
                <h3>Book</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>

        </div>
    </section>
    <br>

    <section id="howitworks">
        <h2 class="headerh2">How it Works</h2>
        <div class="row">
            <div class="col spacing">
                <h3>Find a Trainer</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
    
            <div class="col spacing">
                <h3>Discover Group Classes</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>

        </div>
       
    </section>
<br>
    <section id="testimonials">
        <h2 class="headerh2">What People Are Saying</h2>
        <div class=""> 
            <div class="row">
                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>

                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>

                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>
              </div>

              <div class="row">
                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>

                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>

                <div class="col-4 spacing">
                    <div class="testimonial-header">
                        <img class="img-circle" src="./asset/profile.png" width="70px" height="70px">
                        <span class="testimonial-name">Full Name</span>

                    </div>
                    <div class="testimonial-text">
                      <p >
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                      </p>  
                    </div>  
                </div>
        </div>

    </section>


    </main>





<%- include('../includes/footer.ejs') %>