<ul>
    <li class="main-header__item">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Logout</button>
        </form>    
    </li>

    <li class="main-header__item">
    <a href="/user/manage-account/account?edit=true">Update Account</a>
    </li>

    <li class="main-header__item">
        <a href="/user/trainer-list">Trainer List</a>
    </li>

    <li class="main-header__item">
        <a href="/user/mytrainer">My Trainer</a>
    </li>


</ul>