

<form action="/user/enroll" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn-primary btn-success" type="submit">Enroll NOW</button>
    <input type="hidden" name="trainerId" value="<%= trainer._id %>">
</form>