<header>
    <div class="container">
        <div class="mainlogo">
            <img src="/asset/BMlogoWhite100px.png" alt="" srcset="">
        </div>
        
   
    <nav class="main-nav">
        <ul>
            <li><a href="#about"></a></li>
            <li><a href="#capabilities">features</a></li>
            <li><a href="#contact">contact</a></li>
            <li><button id="getStarted">get started</button></li>
        </ul>
    </nav>
</div>

</header>




