

    <nav class="navbar navbar-expand-lg navbar-light fixed-top j">

       
        <div class="container">
    
       
            <a class="navbar-brand" href="/">
                <img src="/asset/BMlogoWhite100px.png"  class="d-inline-block align-center" alt="">
                BeastMode</a> 
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">home</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="/find-trainer">find a trainer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trainer/sign-up">become a trainer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">contact us</a>
                    </li>
                    <li class="nav-item"><a href="/user/sign-up" id="getStarted">get started</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero-banner-container">

        <div class="hero-banner-form">
            <div class="container">
            <form class="banner-form">

                <div class="input-container">
                    <i class="fa fa-search icon"></i>
                    <input type="text" class="form-input input-field" id="search" placeholder="What are you looking for?">    
                  </div>
                
                  <div class="input-container">
                    <i class="fa fa-user-o icon"></i>
                    <input type="text" class="form-input input-field" id="name" placeholder="Name">  
                    
                  </div>
                  
                  <div class="input-container">
                    <i class="fa fa-envelope-o icon"></i>
                    <input type="email" class="form-input input-field" id="email" placeholder="Email">
                  </div>

                  <div class="input-container">
                    <i class="fa fa-calendar-check-o icon"></i>
                    <input type="date" class="form-input input-field" id="startdate" value="">
                  </div>

                
                   
                
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>

        <div class="hero-banner-content">
            <h2>unlesh the <br>
            <span class="highlight">beast</span> within
            </h2>
            <br>
            <hr>
            <p class="highlightText">Start now and get a <span class="hightlight2"> free session </span> on your account.</p>
        </div>
    </div>  




