<header>
    <div class="container">
        <div class="mainlogo">
            <img src="/asset/logo.png" alt="" srcset="">
        </div>
        
   
    <nav class="main-nav">
        <ul>
            <li><a href="#about">ABOUT Us</a></li>
            <li><a href="#capabilities">CAPABILITIES</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
</div>

</header>