<div class="col-sm-auto" >
          <div id="sideBar" class=" d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width:280px">
            <a href="/trainer/account" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img class="bi me-2" width="40" height="40" src="/asset/icons/user-gold.png"/>
                <span class="fs-4"><%= trainername %> Dashboard</span>
              </a>

        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="/trainer/account" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a href="/trainer/myclient" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Clients
              </a>
            </li>
            <li>
              <a href="/trainer/myappointment" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Booked Sessions
              </a>
            </li>
            <li>
              <a href="/trainer/mytrainings" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                  My Trainings
                </a>
              </li>

            <li>
                <a href="/trainer/mynote" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                  Notes
                </a>
            </li>

            <hr>
            <li>
              <a href="/trainer/manage-account/account?edit=true" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Update Account
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                <form action="/logout" method="post">
                    <button class="btn-primary" type="submit">Logout</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                </form>
              </a>
            </li>
           
               
           
          </ul>
          <hr>
   
        </div>
        </div>