

<form action="/user/unenroll" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-danger" type="submit">Unenroll</button>
    <input type="hidden" name="trainerId" value="<%= trainer._id %>">
</form>