<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <section>

        <%- include('../includes/clientnav.ejs') %>


    <section>
 
            <div class="container mb-3">
               <h1>WELCOME to Dashboard Trainer <%= user.fname %> </h1>
            </div>
        </section>


   
    </main>




<%- include('../includes/footer.ejs') %>