<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        
        <header>
        <section class="hero-banner">
            <%- include('../includes/clientnav.ejs', {username:user.fname}) %>
        </section>
    </header>

    <section>
 
            <div class="container mb-3">
               <h1>WELCOME</h1>
            </div>
    </section>


    </main>




<%- include('../includes/footer.ejs') %>