<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/clientnav.ejs') %>
   


    <section>
 
            <div class="container mb-3">
               <h1>Send a Note to</h1>
            </div>

            <ul>


             





    </section>
    </main>




<%- include('../includes/footer.ejs') %>