<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <section>
    
                <div class="container mb-3">
                <h1>WELCOME to Dashboard Trainer <%= trainer.fname %> </h1>
                </div>
        </section>
        <%- include('../includes/trainernav.ejs') %>
       
            
    </main>




<%- include('../includes/footer.ejs') %>