<%- include('../includes/head.ejs') %>


<body>
  

    <main>
        <%- include('../includes/trainernav.ejs', {trainername:trainer.fname}) %>

    <section>
            <div class="container mb-3">
               <h1>Trainings</h1>
            </div>



        
         

    </section>
    </main>




<%- include('../includes/footer.ejs') %>