/* ======================================================
                    GENERAL
========================================================*/
body{
    font-family:"Raleway";
    font-size:14px;
    font-weight: 200;
    margin:0;
    padding:0
}


.container{
    width:90%;max-width:1200px;margin:auto}

ul{
    padding-inline-start:0px;
}



.highlight{
    color: $mainfontcolorhover;
}

.highlight2{
    font-weight: 600;
    
}

.highlightText{
    font-family: 'Alegreya', serif;
    text-transform: none;
    font-weight: 400;
    text-align: left;
}

hr{
   
    border:#9c8357 1px solid ;
}




/* ======================================================
                    NAVIGATION
========================================================*/
a#getStarted{
    border-radius: 10px;
    background-color: #663399;
    border: none;
    color: $fontfordark;
    padding: 10px;
    text-align: center;
    font-size:1.2em;
    font-family:"Raleway";
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-weight: 300;
}


.hero-banner .container .mainlogo img{max-height:81px}
.hero-banner .container nav{text-align:right}
 .main-nav nav ul{padding:1em}
.main-nav nav ul li{list-style:none;display:inline-block;padding:0 1em 0em 1em}

.main-nav nav ul li a{
    font-size:1.2em;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-decoration:none;
    color:$fontfordark;

    &:hover{
        border-bottom:2px solid $borderColor;
        color:$mainfontcolorhover;
    }
}

/*=============================================
                    BANNER
=============================================*/

.hero-banner-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.hero-banner-form{
    .container{

        display: flex;
        align-items: center;
        justify-content: center;
      

        form{
            background: $mainBG;
            padding: 2em;
            width: 80%;
            input{
                margin-bottom: 2em;
            }
            button{
                text-align: center;
                width: 70%;
                display: block;
                margin: auto;
            }
        }
    }

}
