$headerFont:'Dosis', Sans-serif;
$mainfont:'Raleway';
$otherfont:'Open Sans', Sans-serif;
$borderColor:#555555;
$mainfontcolorhover:#9c8357;;
$fontfordark:#ffffff;
$basefont:16px;
$mainBG: #ffffff;
$darkBG:#1b1b1b;
$errorBG:#ff000080;
