body {
  font-family: 'Raleway', serif !important;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 3em;
}
/* section p{
  color: #747e80;
} */

.heading {
  padding-top: 13rem !important;
}

.btn-primary {
  color: #fff;
  background-color: #9c8357!important;
  border-color: #9c8357!important;
  font-variant: small-caps!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #663399;
  border-color: #663399;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.btn-secondary {
  color: #fff;
  font-variant: small-caps!important;
  letter-spacing: 1px;
}

.signup-form h2{
  margin-top: 1em;
  margin-bottom: 1em;
}

/* ======================================================
                    NAVIGATION
========================================================*/

.fixed-top {
  
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-banner .container .mainlogo img, .hero-banner2 .container .mainlogo img  {
  max-height: 81px;
}
.hero-banner .container nav, .hero-banner2 .container nav {
  text-align: right;
}
.main-nav nav ul {
  padding: 1em;
}
.main-nav nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em 0em 1em;
}
.hero-banner nav ul li a, .hero-banner2 nav ul li a {
  
  font-weight: 300;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
}
.hero-banner nav ul li a:hover, .hero-banner2 nav ul li a:hover  {
  border-bottom: 2px solid #555555;
  color: #9c8357;
} 

a#getStarted {
  border-radius: 10px;
  background-color: #663399;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-decoration: none;
}
/* ======================================================
                    HERO BANNER
========================================================*/
.hero-banner {
  display: flex;
  height: 80vh;
  background: url("/asset/rope.jpg");
  background-size: cover;
  background-position: top;
  transition: border-radius 0.3s, opacity 0.3s;
  flex-direction: column;
}
.hero-banner2 {
  display: flex;
  height: 80vh;
  background: url("/asset/beast.jpeg");
  background-size: cover;
  background-position: top;
  transition: border-radius 0.3s, opacity 0.3s;
  flex-direction: column;
}


/* ===========================
            hero form
  ========================= */
  
  
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .icon {
    padding: 10px;
    color: #9c8357;
    min-width: 50px;
    text-align: center;
    position: absolute;
  }


.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 1em;
  outline: none;
}
  input.form-input {
    border-color: #9c8357;
    border:solid 1px;
      padding:.5em;
  }

  input.form-input::placeholder{
    padding-left: 2.5em;
  }



  /* ===========================
            features
  ========================= */

  
 .headerh2{
    text-align: center;
    font-weight: 600;
  }
  #features h3, #howitworks h3{
    font-size: 22px;
    color: #303234;
    font-weight: 600;
  }

#features p {
    text-align: center;
    padding-left:2em;
    padding-right: 2em;
    line-height: 2em;
    padding-top: 1.5em;
  }
.col-md-4{
   
   text-align: center;
}

div.spacing{
  padding:5em;
  padding-bottom: 2em;
}
#howitworks{
  margin-top: 5em;
}

  /* ===========================
        TESTIMONTIONALS
  ============================== */

  #testimonials{
    background-color: #666666;
    padding-top: 4em;
    padding-bottom: 3em;
  }
  #testimonials h2{
    color:#ffffff;
  }
  div.testimonial-header{
    display: inline;
    width: 100%;
    color:#ffffff;
  
  }
  .testimonial-name{
    padding-left: .5em;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px ;
  }
  div.testimonial-text{
    margin-top: 1em;
    color: #cbcbcb;
    letter-spacing: .5px ;

  }
  /* .testimonial-name, .testimonial-header img{
    float: left;
  } */



/* .form-control input:focus {
  border-color: #9c8357;
  box-shadow: rgba(156, 131, 87, 0.25) 0px 0px 0px 0.25rem;
}

input.form-input:focus {
  border-color: #9c8357;
  box-shadow: rgba(156, 131, 87, 0.25) 0px 0px 0px 0.25rem;
}



.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

ul {
  padding-inline-start: 0px;
}

header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

header .container .mainlogo img {
  max-height: 81px;
}

header .container nav {
  text-align: right;
}

header .container nav ul {
  padding: 1em;
}

header .container nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 1em 0em 1em;
}

header .container nav ul li a {
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

header .container nav ul li a:hover {
  border-bottom: 2px solid grey;
  color: #9c8357;
}  */




/* ======================================================
                    ERROR
========================================================*/
 .message-error {
  border: 1px solid red;
  background: #ffb0b0;
  color: red;
  max-width: 30rem;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
  font-weight: 600;
}

input.invalid {
  border-color: red;
} */

/* ======================================================
                    FOOTER
========================================================*/
 footer {
  background: #1b1b1b;
  color: #ffffff;
  padding: 2em 0em;
}

footer .footer-first-row {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

footer .footer-first-row div {
  margin-bottom: 1.5em;
}

footer .footer-first-row span {
  font-size: 1.2em;
  text-align: center;
  border-left: 2px solid #9c8357;
  padding-inline-start: 1em;
}

footer .footer-first-row ul {
  padding-inline-start: 0em;
}

footer .footer-first-row ul li {
  width: 100%;
  list-style: none;
  padding: .5em 0em;
  border-bottom: 0.05em solid #ffffff;
  font-size: 1.2em;
}

footer .footer-first-row ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Alegreya', serif;
}

footer .footer-first-row ul li a:hover {
  color: #9c8357;
}

footer .footer-first-row:nth-child(2) {
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
}

footer .footer-second-row {
  padding: 3em 0em;
  text-align: center;
  font-size: .8em;
}

.navbar a.navbar-brand, .navbar-nav li.nav-item a.nav-link {
  color: #ffffff;
}

.navbar a.navbar-brand:hover {
  color: #ffffff;
}

.navbar-nav li.nav-item.active a.nav-link {
  color: #9c8357;
  border-bottom: 2px solid #9c8357;
}

.navbar-nav li.nav-item a.nav-link:hover {
  border-bottom: 2px solid #9c8357;
  color: #9c8357;
} 

@media only screen and (min-width: 37.5em) {
  /* ======================================================
                    GENERAL
========================================================*/
.highlight {
  color: #9c8357;
  font-weight: 600;
}
  /* body {
    font-family: 'Alegreya', serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  ul {
    padding-inline-start: 0px;
  }
  
  .highlight2 {
    font-weight: 600;
  }
  .highlightText {
    font-family: 'Alegreya', serif;
    text-transform: none;
    font-weight: 400;
    text-align: left;
  }
  hr {
    border: #9c8357 1px solid;
  } */
  
  /*=============================================
                    BANNER
=============================================*/
  .hero-banner-container {
    width: 90%;
    max-width: 1200px;
    margin: 10em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero-banner-form .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-banner-form .container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #ffffff;
    padding: 2em;
    width: 80%;
  }
  .hero-banner-form .container form input {
    margin-bottom: 2em;
  }
  .hero-banner-form .container form button {
    text-align: center;
    width: 70%;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 60em) {
  footer .footer-first-row {
    grid-template-columns: 1fr 1fr;
  }
} 



/* ===========================
        SIGNUP FORMS
  ============================== */
/*   */
  
.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 30px;
    padding-bottom: 30px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
    text-align: left;
   align-items: center;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 50%;
  left: 15.4em;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
position: absolute;
top: -40px;
transition-property: all;
transition-duration: 0.15s;
transition-timing-function: linear;
transition-delay: 0s;
display: block;
width: 2px;
height: 100%;
content: '';
background-color: currentColor;
z-index: 1;
left: 15.3em;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #9c8357;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}


.btn-success, .btn-success:hover {
  color: #fff;
  background-color: #663399;
  border-color: #663399;
}

/* .multisteps-form__progress span{
  float:right;
}  */

img.icons{
  position: absolute;
  right:150px;
}

/* ===============================
              DASHBOARDS
=================================== */
/* SIDE BAR */
#sidebar{
  color: #ffffff;
  height: 100%;
  
}
.link-dark{
  color: #ffffff;
}
.link-dark:hover {
  color: #88847e;
}
#sidebar hr {
  margin: 1rem 0;
  color: #303234!important;
  font-weight: 300;
  background-color: #f5f3f4;
  border: 0;
  opacity: .25;
}
.bg-light {
  background-color: #f5f3f4!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #9c8357!important;
}
.card-title, .user-list a{
  color: #9c8357;
}
  
.card-text{
  font-size: 4em;
  color: #663399;
}

.main-dashboard h1{
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-variant: small-caps;
}
.main-dashboard hr {
  margin: 2rem 0;
  color: inherit;
  background-color: #666666;
  border: 0;
  opacity: .25;
}

/* ===============================================
        client lists trainer dashboard
  ===============================================      
 */

/* USER LIST TABLE */
.user-list a:hover{
  color: #663399;
}
.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}

.table tr, .table th{
  border-style:none !important;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	/* border-bottom: 1px solid #C2C2C2; */
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	/* background: #f5f3f4; */
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	/* border-bottom: 2px solid #C2C2C2; */
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

.table>:not(caption)>*>* {
   border-bottom-width: 0px; 
}
.table thead > tr > th > a span {
	color: #344644;
}
.table thead > tr > th > a span:after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-left: 5px;
	font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
	content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
	content: "\f0de";
}
.table thead > tr > th > a:hover span {
	text-decoration: none;
	color: #663399;
	border-color: #663399;
}
.table.table-hover tbody > tr > td {
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
	display: block;
	font-size: 0.75em;
	text-align: center;
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: #969696;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #663399;
}
.table a.table-link.danger {
	color: #663399;
}
.table a.table-link.danger:hover {
	color: #663399;
}

.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: #f6f6f6;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.table-products .price {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .price > i {
	color: #663399;
}
.table-products .warranty {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .warranty > i {
	color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
	background-color: #9daccb;
	color: #262525;
}
.table tbody > tr.table-line-twitter > td {
	background-color: #9fccff;
	color: #262525;
}
.table tbody > tr.table-line-plus > td {
	background-color: #eea59c;
	color: #262525;
}
.table-stats .status-social-icon {
	font-size: 1.9em;
	vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
	color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
	color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
	color: #a75d54;
}


/* ===============================
    CLIENT TRAINER LIST VIEW
=================================== */
body{
  background:#dcdcdc;
  margin-top:20px;}

.widget-26 {
color: #3c4142;
font-weight: 400;
}

.widget-26 tr:first-child td {
border: 0;
}

.widget-26 .widget-26-job-emp-img img {
width: 35px;
height: 35px;
border-radius: 50%;
}

.widget-26 .widget-26-job-title {
min-width: 200px;
}

.widget-26 .widget-26-job-title a {
font-weight: 400;
font-size: 0.875rem;
color: #3c4142;
line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
color: #68CBD7;
text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
margin: 0;
line-height: 1.5;
font-weight: 400;
color: #3c4142;
font-size: 0.8125rem;
color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
color: #68CBD7;
text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
font-size: 12px;
font-weight: 400;
}

.widget-26 .widget-26-job-info {
min-width: 100px;
font-weight: 400;
}

.widget-26 .widget-26-job-info p {
line-height: 1.5;
color: #3c4142;
font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
color: #3c4142;
}

.widget-26 .widget-26-job-salary {
min-width: 70px;
font-weight: 400;
color: #3c4142;
font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
padding: .5rem;
display: inline-flex;
white-space: nowrap;
border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
width: 13px;
height: 13px;
margin-right: .5rem;
float: left;
border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
font-size: 0.8125rem;
color: #3c4142;
font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
width: 20px;
height: 20px;
color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
fill: #fd8b2c;
}
.bg-soft-base {
background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}


.search-form {
width: 80%;
margin: 0 auto;
margin-top: 1rem;
}

.search-form input {
height: 100%;
background: transparent;
border: 0;
display: block;
width: 100%;
padding: 1rem;
height: 100%;
font-size: 1rem;
}

.search-form select {
background: transparent;
border: 0;
padding: 1rem;
height: 100%;
font-size: 1rem;
}

.search-form select:focus {
border: 0;
}

.search-form button {
height: 100%;
width: 100%;
font-size: 1rem;
}

.search-form button svg {
width: 24px;
height: 24px;
}

.search-body {
margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
color: #3c4142;
margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
color: #727686;
}

.search-body .search-result .result-header {
margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
text-align: right;
display: flex;
align-items: center;
justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
display: flex;
align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
flex-shrink: 0;
font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
.search-body .search-filters {
  display: flex;
}
.search-body .search-filters .filter-list {
  margin-right: 1rem;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px){
.col-lg-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
}

.card-margin {
  margin-bottom: 1.875rem;
}
.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}













